* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(-45deg, #e3ddd9 50%, #000c2e 50%);
    font-family: 'Raleway', sans-serif;
}

.titulo {
    font-size: 40px;
    font-family: 'Raleway', sans-serif, cursive;
    margin-bottom: 10px;
    color: #fff;
}

.detalle {
    color: #fff;
    margin: 7px 0px;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 60px;
}

.linea-division {
    width: 100%;
    height: 2px;
    background-color: #2519c9;
}


/*-------------------------*/


/*---Estilos Materialize---*/


/*-------------------------*/

.carousel {
    min-height: 550px;
}

.carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 500px;
    height: 500px;
}

.carousel .carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}


/*-------------------------*/


/*---Estilos popup---*/


/*-------------------------*/

.container .popup-img {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
}

.container .popup-img span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.popup-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    
    object-fit: contain;
    width: 1000;
    height:100%;
}


.carousel__anterior,
.carousel__siguiente {
    padding: 50px;
	position: absolute;
	display: block;
	width: 80px;
	height: 80px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 80px;
	text-align: center;
	background: none;
	color: rgb(135, 133, 148);
	opacity: 20%;
    z-index: 100;
}

.carousel .carousel__anterior:hover,
.carousel .carousel__siguiente:hover {
	opacity: 100%;
}

.carousel .carousel__anterior {
	left: -30px;
}
.carousel .carousel__siguiente {
	right: -30px;
}

.carousel .carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}
.carousel .carousel__indicadores .glider-dot:hover {
	opacity: .5;
}
.carousel .carousel__indicadores .glider-dot.active {
	opacity: 1;
}
/*-------------------------*/


/*---Reproductor---*/


/*-------------------------*/

.container .reproductor {

   position: absolute;
    top: 10px;
    right: 10px;
}